#choropleth_map {
	top:10px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: darkslateblue;
}
#dot_plot{
	top:10px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#isotype_dot_plot{
	top:10px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#scatplot{
	top:10px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
}
#barchart1{
	top:10px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#barchart{
	top:10px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

h1 {
	font-size: 40px;
	color: darkblue;
  	text-align: center;
	line-height: 10%;
}
h2 {
	font-size: 25px;
	text-align: center;
	color: darkblue;
}

t {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	color: darkslateblue;
}

t1 {
	font-size: 27px;
	font-family: Arial, Helvetica, sans-serif;
	color: darkslateblue;
}

p1 {
	font-size: 20px;
	text-anchor: start;
}
p2 {
	font-size: 15px;
}
mark.red {
    color:red;
    background: none;
	font-weight: bold;
}
mark.green {
    color:green;
    background: none;
	font-weight: bold;
}

.head { grid-area: header;font-family: Arial, Helvetica, sans-serif;background-color: rgba(255, 255, 255, 0.8);}
.choropleth_map { grid-area: map;background-color: rgba(255, 255, 255, 0.8);;padding: 10px;}
.dotplot {grid-area: dotplot;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.scatplot {grid-area: scatplot;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.description1 { grid-area: description1; 
	font-family: Arial, Helvetica, sans-serif; background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.description2 { grid-area: description2; font-family: Arial, Helvetica, sans-serif;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.isotype_dot { grid-area: isotype_dot;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.barchart1 {grid-area: barchart1; background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.barchart2 {grid-area: barchart2;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.description3 { grid-area: description3; font-family: Arial, Helvetica, sans-serif;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.description4 { grid-area: description4; font-family: Arial, Helvetica, sans-serif;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.description5 { grid-area: description5; font-family: Arial, Helvetica, sans-serif;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.description6 { grid-area: description6; font-family: Arial, Helvetica, sans-serif;background-color: rgba(255, 255, 255, 0.8);padding: 10px;}
.srHead { grid-area: srHead; font-family: Arial, Helvetica, sans-serif;background-color: rgba(189, 182, 245, 0.8);padding: 10px;}
.leHead { grid-area: leHead; font-family: Arial, Helvetica, sans-serif;background-color: rgba(189, 182, 245, 0.8);padding: 10px;}
.mcHead { grid-area: mcHead; font-family: Arial, Helvetica, sans-serif;background-color: rgba(189, 182, 245, 0.8);padding: 10px;}
.srtHead { grid-area: srtHead; font-family: Arial, Helvetica, sans-serif;background-color: rgba(189, 182, 245, 0.8);padding: 10px;}
.pgHead { grid-area: pgHead; font-family: Arial, Helvetica, sans-serif;background-color: rgba(189, 182, 245, 0.8);padding: 10px;}
.grid-container {
	display: grid;
	grid-template:
	  'header header header header'
	  'srHead srHead srHead srHead'
	  'map map description1 description1'
	  'leHead leHead leHead leHead'
	  'dotplot dotplot description4 description4'
	  'scatplot scatplot description6 description6'
	  'mcHead mcHead mcHead mcHead'
	  'isotype_dot isotype_dot description2 description2'
	  'srtHead srtHead srtHead srtHead'
	  'barchart1 barchart1 description3 description3'
	  'pgHead pgHead pgHead pgHead'
	  'barchart2 barchart2 description5 description5';
	grid-gap: 10px;
	padding: 10px;

  }
  
.grid-container > div {
font-size: 30px;

}

