#choropleth_map {
	top:10px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

h1 {
	font-size: 40px;
	color: darkblue;
  	text-align: center;
	line-height: 10%;
}
h2 {
	font-size: 20px;
	text-align: center;
	color: blue;
}

t {
	font-size: 19px;
	font-family: Arial, Helvetica, sans-serif;
	color: darkslateblue;
}
p1 {
	font-size: 18px;
	text-anchor: start;
}
p2 {
	font-size: 15px;
}
mark.red {
    color:red;
    background: none;
	font-weight: bold;
}
mark.green {
    color:green;
    background: none;
	font-weight: bold;
}

.head { grid-area: header; }
.choropleth_map { grid-area: map; text-align: center;}
.dotplot {grid-area: dotplot; text-align: center;}
.description1 { grid-area: description1; 
	font-family: Arial, Helvetica, sans-serif; text-align: center;}
.description2 { grid-area: description2; font-family: Arial, Helvetica, sans-serif;text-align: center;}
.isotype_dot { grid-area: isotype_dot; text-align: center;}
.barchart1 {grid-area: barchart1; text-align: center;}
.barchart2 {grid-area: barchart2; text-align: center;}
.description3 { grid-area: description3; font-family: Arial, Helvetica, sans-serif;text-align: center;}
.description4 { grid-area: description4; font-family: Arial, Helvetica, sans-serif;text-align: center;}

.grid-container {
	display: grid;
	grid-template:
	  'header header'
	  'map description1'
	  'description4 dotplot '
	  'isotype_dot description2'
	  'description3 barchart1'
	  'description3 barchart2';
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 10px;
  }
  
.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
padding: 10px 0;
font-size: 30px;
}

